@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.cell-grid {
  border: 1px solid black;
  width: 40vw;
  height: 40vw;
  display: grid;
  --size: 16;
  grid-template-columns: repeat(var(--size), 1fr);
  grid-template-rows: repeat(var(--size), 1fr);
}

.cell {
  border: 1px solid hsl(0deg 0% 18%);
}
